* {
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.admin_page_container {
    display: grid;
    grid-template-columns: 2fr 7fr 9fr;
    grid-template-rows: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    div.data-style-code-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;
        font-weight: bold;
        font-size: 1.1em;
        div.entity-menu {
            span {
                color: lighten(#536071, 30%);
            }
            span.selected-data {
                color: darken(#536071, 5%);
                text-shadow: 1px 1px lighten(#54595F, 40%);
                font-size: 18px;
            }
        }
        div.data-style-code-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 100%;
            background-color: RGB(63, 76, 95);
            color: white;
            border-radius: 0 5px 5px 0;
            margin: 10px;
            div.data-style-code-menu-div-container {
                display: grid;
                grid-template-columns: 8fr 2fr;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                cursor: pointer;
                position: relative;
                div.data-style-code-menu-div {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: lighten(#3F4C5F, 10%);
                        border-radius: 5px;
                    }
                }
                div.data-style-code-menu-side-icons {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 10;
                    span {
                        display: flex;
                        font-size: .7em;
                        justify-content: center;
                        align-items: center;
                        height: 30%;
                        width: 20px;
                        z-index: 20;
                        &:hover {
                            background-color: lighten(#3F4C5F, 20%);
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        div.form-styles-editor-container {
            display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            padding: 20px;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            max-height: 100%;
            overflow-y: scroll;
            grid-column: 3/-1;
            border: 1px solid RGBA(95, 108, 114, .3);
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
            border-radius: 0 5px 5px 0;
            div.form-styles-editor-section {
                grid-column: 1/-1;
                width: 100%;
                display: grid;
                grid-template-columns:1fr 1fr 1fr 1fr;
                grid-gap: 10px;
                justify-content: flex-start;
                align-items: flex-start;
                height: 100%;
                max-height: 100%;
                span.section-label {
                    width: 100%;
                    height: auto;
                    grid-column: 1/-1;
                    font-size: 1.1em;
                    font-weight: 600;
                    color: darken(#536071, 10%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                }
                section {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    label {
                        margin-bottom: 1px;
                        padding-left: 3px;
                        font-weight: 500;
                        font-size: 12px;
                    }
                    input, select {
                        width: auto;
                        border-radius: 3px;
                        border: 1px solid rgb(215, 217, 219);
                    }
                }
            }
        }
    }
}


#fieldsList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    overflow-y: auto;
    font-size: 18px;
    padding: 5px 0;
    border: 1px solid RGBA(95, 108, 114, .3);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 0 10px 10px 0;
    margin-bottom: 0;
    li.column-labels {
        color: darken(#536071, 10%);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        span {
            border-right: 1px solid rgba(0,0,0,0.1);
            &:last-child {
                border-right: 0;
            }
        }
    }
    li {
        display: grid;
        grid-template-columns: 1fr 10fr 7fr 5fr;
        grid-template-rows: minmax(45px, 50px);
        justify-content: center;
        align-items: center;
        width: 96%;
        min-width: 96%;
        height: auto;
        grid-gap: 10px;
        font-size: .9em;
        font-weight: 400;
        cursor: pointer;
        color: lighten(#536071, 15%);
        padding: 5px 10px;
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 2%;
        border-bottom: 1px solid lighten(#536071, 55%);
        &:first-child {
            margin-bottom: 0;
            margin-top: 0;
        }
        div.fields-list-name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 4px;
            span {
                display: flex;
                width: 100%;
                height: auto;
                font-size: 12px;

            }
            span.fields-list-name-label {
                font-size: 16px;
                font-weight: 600;
                height: 70%;
                width: 100%;
                color: darken(#536071,5%);
                border-radius: 3px;
                line-height: 16px;
            }
            span.fields-list-name-key {
                font-size: 12px;
                height: 30%;
                margin-left: 3px;
            }
        }
        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 4px;
            font-weight: 500;
            &:first-child {
                font-size: .7em;
                font-weight: 600;
            }
        }

    }
    li.field_selected {
        background: #3f4c60;
        color: rgba(255,255,255,.9);
        border-radius: 4px;
        div.fields-list-name {
            span.fields-list-name-label {
                color: white;
            }
        }
    }
}

ul.form-field-settings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    border: 1px solid RGBA(95, 108, 114, .3);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 0 10px 10px 0;
    max-height: 100%;
    padding-left: 0;
    margin-bottom: 0;
    div {
        width: 100%;
        height: auto;
    }
    li.settings-add-text-block {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 1em;
        border-bottom: 0;
        margin-bottom: 10px;
        span {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            border: 1px solid RGBA(95, 108, 114, .3);
            box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.05);
            border-radius: 4px;
            padding: 10px;
            margin: 5px;
        }
    }
    li {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 3fr 2fr 2fr 2fr;
        grid-template-rows: minmax(35px, 50px);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        grid-gap: 10px;
        font-size: .9em;
        font-weight: 400;
        cursor: pointer;
        color: lighten(#536071, 15%);
        padding: 5px 10px;
        margin-bottom: 2px;
        margin-top: 2px;
        border-bottom: 1px solid lighten(#536071, 55%);
        input {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: auto;
            border-radius: 3px;
            padding: 6px;
            border: 1px solid RGBA(95, 108, 114, .3);
            background-color: white;
            color: darken(#536071, 10%);
        }
        select {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            -moz-appearance: none;
            appearance: none;
            background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUiIHdpZHRoPSI3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yLjgyOCA0LjM2NEwwIDEuNTM2LjcwNy44MjhsMi44MjkgMi44MjlMNi4zNjQuODI4bC43MDcuNzA4TDMuNTM2IDUuMDd6IiBmaWxsPSIjQkJCRUJGIi8+PC9zdmc+);
            background-position: right 10px center;
            background-repeat: no-repeat;
            border-radius: 3px;
            padding: 6px;
            border: 1px solid RGBA(95, 108, 114, .3);
            background-color: white;
            color: darken(#536071, 10%);
        }
        div.options-editor-container {
            div.options-editor-label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: auto;
                -moz-appearance: none;
                appearance: none;
                background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUiIHdpZHRoPSI3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yLjgyOCA0LjM2NEwwIDEuNTM2LjcwNy44MjhsMi44MjkgMi44MjlMNi4zNjQuODI4bC43MDcuNzA4TDMuNTM2IDUuMDd6IiBmaWxsPSIjQkJCRUJGIi8+PC9zdmc+);
                background-position: right 10px center;
                background-repeat: no-repeat;
                border-radius: 3px;
                padding: 6px;
                border: 1px solid RGBA(95, 108, 114, .3);
                background-color: white;
                color: darken(#536071, 10%);
            }
            div.options-editor-absolute-position {
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 200px;
                height: auto;
                border-radius: 3px;
                padding: 6px;
                border: 1px solid RGBA(95, 108, 114, .3);
                background-color: white;
                color: darken(#536071, 10%);
                z-index: 5;
                box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.08);
                span.options-editor-add-option-button {
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    width: 40%;
                    font-size: 1.3em;
                    border-radius: 4px;
                    height: auto;
                    padding: 1px;
                    transition: ease-in .1s;
                    &:hover {
                        border: 1px solid RGBA(95, 108, 114, .3);
                        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.08);
                        background-color: #fafafa;
                        color: #08a7f3;
                    }
                }
                span {
                    display: grid;
                    grid-template-columns: 8fr 2fr;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    font-size: .9em;
                    height: auto;
                    padding: 4px;
                    &:last-child {
                        border-bottom: 0;
                    }
                    input {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                    }
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        font-size: 1em;
                        font-weight: 800;
                        transition: ease-in .1s;
                        &:hover {
                            color: #e81c62;
                        }
                    }
                }
            }
        }
    }
}


div.relations-editor-page-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    border: 1px solid RGBA(95, 108, 114, .3);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 0 10px 10px 0;
    max-height: 100%;
    div.relations-editor-entities-menu {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        width: 96%;
        height: 64px;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
        border-bottom: 1px solid lighten(#536071, 55%);
        color: darken(#536071, 10%);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin: 0 2%;
        padding: 10px 5px;
        span {
            display: flex;
            width: 100%;
            height: 30px;
            line-height: 30px;
            justify-content: flex-start;
            align-items: center;
            padding: 5px 20px;
            border-right: 1px solid rgba(0,0,0,0.1);
            text-transform: capitalize;
            font-family: Roboto, sans-serif;
            &:last-child {
                border-right: 0;
            }
        }

    }
    div.relations-editor-columns-container {
        display: flex;
        width: 100%;
        height: 100%;
        grid-column: 1/-1;
        grid-row: 2/-1;
        margin-bottom: 10px;
        position: relative;
        padding-bottom: 20px;
        ul.relations-editor-column {
            width: 100%;
            z-index: 5;
            padding-left: 0;
            margin: 15px;
            li.relation-block-element-selected {
                div.relation-editor-field-block {
                    background: RGBA(61, 76, 96, 1);
                    color: white;
                }
            }
            li {
                width: 100%;
                cursor: pointer;
                div.relation-editor-field-block {
                    background: white;
                    color: RGBA(61, 76, 96, 1);
                    border: 1px solid RGBA(95, 108, 114, .3);
                    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.05);
                    margin: 5px 0;
                    font-size: .9em;
                    width: 100%;
                    border-radius: 4px;
                    padding: 7px;
                    div.relation-editor-field-key {
                        font-size: .75em;
                    }
                }
                div.relation-block-element-selected {
                    background:  RGBA(61, 76, 96, 1);
                    color: white;
                }
            }
            li.add-text-block {
                div.relation-editor-field-block {
                    background: white;
                    border-radius: 4px;
                    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: RGBA(61, 76, 96, 1);
                    font-size: 16px;
                }
            }
        }
    }
}

.generated-form-container {
    height: 100%;
    max-height: 90vh;
}



.code-editor {
    grid-column: 1/3;
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid RGBA(95, 108, 114, .3);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 0 10px 10px 0;
    color: lighten(#536071, 5%);
    font-weight: 400;
    line-height: 1.5;
}

ul, li {
    list-style-type: none;
}

div.entity-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-transform: capitalize;
    }
}


.creds_page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label {
            font-family: Arial, serif;
            color: #121C40;
        }
        input {
            font-family: Arial, serif;
            width: 315px;
            height: 30px;
            padding-left: 10px;
            margin-bottom: 30px;
            border-radius: 5px;
            border: 1px solid rgba(91, 115, 135, 0.27);
            background-color: #F6F8FA;
            color: #54595F;
        }
        button {
            font-family: Arial, serif;
            width: 100px;
            height: 30px;
            border-radius: 5px;
            color: RGB(63, 76, 95);
            border: 1px solid rgba(91, 115, 135, 0.27);
        }
    }
}

select.font-selector {
    padding-left: 5px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUiIHdpZHRoPSI3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yLjgyOCA0LjM2NEwwIDEuNTM2LjcwNy44MjhsMi44MjkgMi44MjlMNi4zNjQuODI4bC43MDcuNzA4TDMuNTM2IDUuMDd6IiBmaWxsPSIjQkJCRUJGIi8+PC9zdmc+);
    background-position: right 10px center;
    background-repeat: no-repeat;
    border-radius: 2px;
    width: 100%;
    color: RGBA(61, 76, 96, 1);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

div.color-picker-label {
    font-size: .7em;
    margin-bottom: 0.35em;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #3D4C60;
    font-weight: 600;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.modal-container {
    position: fixed;
    right: 0;
    z-index: 3;
    height: auto;
    width: auto;
};

.text-capitalize {
    text-transform: capitalize;
}


.options-modal-all-page-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    div.options-editor-absolute-position {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 200px;
        height: auto;
        border-radius: 3px;
        padding: 6px;
        border: 1px solid RGBA(95, 108, 114, .3);
        background-color: white;
        color: darken(#536071, 10%);
        z-index: 5;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
        span.options-editor-add-option-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            font-size: 1.3em;
            border-radius: 4px;
            height: auto;
            padding: 1px;
            transition: ease-in .1s;
            cursor: pointer;
            &:hover {
                border: 1px solid RGBA(95, 108, 114, .3);
                box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
                background-color: #fafafa;
                color: #08a7f3;
            }
        }

        span {
            display: grid;
            grid-template-columns: 8fr 1fr;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            font-size: .9em;
            height: auto;
            padding: 4px;
            &:last-child {
                border-bottom: 0;
            }
            input {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                border: 1px solid RGBA(95, 108, 114, .3);
                border-radius: 2px;
                padding: 4px;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-size: 1em;
                font-weight: 800;
                transition: ease-in .1s;
                margin-left: 3px;
                cursor: pointer;
                &:hover {
                    color: #e81c62;
                }
            }
        }
    }
}

input[type=file] {
    opacity: 0;
}

